.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #023E7D;
  border-radius: 15px;
  padding: 10px;
}

.nav-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.nav-autocomplete {*/
/*  width: 100%;*/
/*  padding: 10px 20px;*/
/*  border: 2px solid #1e90ff;*/
/*  border-radius: 25px;*/
/*  outline: none;*/
/*  font-size: 16px;*/
/*  transition: all 0.3s ease;*/
/*  justify-content: center;*/
/*}*/

/*.nav-autocomplete:focus {*/
/*  border-color: #104e8b;*/
/*  box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);*/
/*}*/

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 50px;
  padding: 10px;
  position: relative;
}

.nav-button img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

.nav-button:focus {
  outline: none;
}

.nav-button:hover img {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.nav-cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 50px;
  padding: 10px;
  position: relative;
}

.nav-cart img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

.nav-cart:focus {
  outline: none;
}

.nav-cart:hover img {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.item-count {
  background-color: orangered;
  color: whitesmoke;
  border-radius: 20%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 5px;
  transition: transform 0.2s;
}

.item-count:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
